@model IEnumerable<E_Apoteka.Models.ProductCategory>

@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/Shop.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card-body {
            height: 250px;
        }

        #sidebar {
            flex: 0 0 250px;
            background-color: #f2f2f2;
            padding: 20px;
            height: 800px;
        }

        .category-list {
            list-style-type: none;
            padding: 0;
            margin-bottom: 20px;
        }

            .category-list li {
                margin-bottom: 10px;
            }

            .category-list li {
                margin: 20px;
            }

        .slider-container {
            width: 250px;
            padding: 20px;
            border-radius: 3px;
            background-color: #ffffff;
        }

        .slider {
            width: 200px;
            text-align: center;
            padding-bottom: 20px;
            justify-content: center;
            align-items: center;
        }

            .slider input[type="range"] {
                width: 100%;
                margin-top: 10px;
            }

            .slider span {
                display: block;
                box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
                padding: 10px;
                font-size: 22px;
                margin-bottom: 35px;
            }

    </style>
</head>

<div class="container d-flex justify-content-center mt-50 mb-50">
    <div id="sidebar" style="margin-right:30px; border-color:black; ">
        <div style="background-color: #007bff; color:white; padding: 5px; margin-bottom:15px;">
            <h4> <i class="fa fas fa-list"></i> Kategorije</h4>
        </div>
        <div class="container">
            <ul class="category-list" style="height: 250px; overflow: auto; list-style-type: none;">
                @foreach (var category in ViewBag.Categories)
                {
                    <li>
                        <a href="/Products/Index?category=@category" style="color: black; text-decoration: none; display: block; text-align: left;">
                            @category
                        </a>
                    </li>
                }
            </ul>

        </div>

        <hr />


        <div style="background-color: #007bff; color:white; padding: 5px; margin-bottom:15px;">
            <h4>Filtriraj po cijeni</h4>
        </div>

        <div class="slider-container">
            <div class="slider">
                <span id="price-range"></span>
                <input id="min-price" value="0" min="0" max="200" step="5" type="range">
                <input id="max-price" value="200" min="0" max="200" step="5" type="range">
            </div>
        </div>

        <button id="filter-button" style="font-family: 'Roboto'; font-weight: 500; background-color: #007bff; color:white; padding: 5px; width:200px; margin-top:20px;">Filtriraj</button>

        <script>
            const minPriceElement = document.getElementById("min-price");
            const maxPriceElement = document.getElementById("max-price");
            const priceRangeElement = document.getElementById("price-range");

            function updatePriceRange() {
                let minPrice = parseInt(minPriceElement.value);
                let maxPrice = parseInt(maxPriceElement.value);

                if (minPrice > maxPrice) {
                    // Swap values
                    [minPrice, maxPrice] = [maxPrice, minPrice];
                }

                priceRangeElement.textContent = `${minPrice}KM - ${maxPrice}KM`;
            }

            minPriceElement.addEventListener("input", updatePriceRange);
            maxPriceElement.addEventListener("input", updatePriceRange);

            updatePriceRange();

            const filterButton = document.getElementById("filter-button");

            filterButton.addEventListener("click", function () {
                const minPrice = document.getElementById("min-price").value;
                const maxPrice = document.getElementById("max-price").value;
                const category = document.getElementById("sort-select").value;

                const url = new URL("/Products/Index", window.location.origin);
                url.searchParams.append("minPrice", minPrice);
                url.searchParams.append("maxPrice", maxPrice);
                url.searchParams.append("sort", category);

                window.location.href = url;
            });


            const sortSelect = document.getElementById("sort-select");

            sortSelect.addEventListener("change", function () {
                const minPrice = document.getElementById("min-price").value;
                const maxPrice = document.getElementById("max-price").value;
                const category = document.getElementById("category-select").value;
                const sort = this.value;

                const url = new URL("/Products/Index", window.location.origin);
                url.searchParams.append("minPrice", minPrice);
                url.searchParams.append("maxPrice", maxPrice);
                url.searchParams.append("category", category);
                url.searchParams.append("sort", sort);

                window.location.href = url;
            });
        </script>


    </div>

    <div id="main-content">
        <div class="search-bar" style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px; border-color:blue">
            <div class="input-group" style="display: flex; align-items: center; justify-content: center;">
                <form id="search-form">
                    <input type="search" style="width: 450px;" class="rounded" placeholder="Search..." name="search">
                    <select id="sort-select" style="margin-left: 20px; width: 200px;" name="sort">
                        <option value="">Sortiraj</option>
                        <option value="rating_asc">Rating: Manje-Veće</option>
                        <option value="rating_desc">Rating: Veće-Manje</option>
                        <option value="name_asc">Ime: A-Z</option>
                        <option value="name_desc">Ime: Z-A</option>
                    </select>
                    <button type="submit" style="min-width: 100px; margin-left:7px; margin-bottom:6px; font-size:medium" class="btn btn-primary btn-sm">Search</button>
                </form>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mt-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-img-actions">
                                    <img src="@item.Product.ImageUrl" class="card-img img-fluid" width="96" height="350" alt="">
                                </div>
                            </div>

                            <div class="card-body bg-light text-center">
                                <div class="mb-2">
                                    <h6 class="font-weight-semibold mb-2">
                                        <a class="text-default mb-2" data-abc="true" asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.Id">@item.Product.Name</a>
                                    </h6>
                                    <a style="text-decoration:none;" class="text-muted" data-abc="true">

                                        @{
                                            var manufacturers = ViewBag.Manufacturers as List<E_Apoteka.Models.Manufacturer>;
                                            var manufacturer = manufacturers.FirstOrDefault(m => m.Id == item.Product.ManufacturerId);
                                            if (manufacturer != null)
                                            {
                                                @manufacturer.Name
                                            }
                                        }
                                    </a>
                                </div>

                                <h3 class="mb-0 font-weight-semibold">@item.Product.Price KM</h3>

                                <div class="text-muted mb-3">Ocjena: @item.Product.Rating</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
